{% extends "layout.html" %}

{% block head %}
<title>Indovina il Frame</title>
<meta property="og:title" content="Indovina il Frame" />
<meta name="description" content="Gioco indovina il frame" />
<meta property="og:description" content="Gioco indovina il frame" />
<meta property="og:image" content="/static/images/anteprima.webp" />
<meta property="og:url" content="{{ request.url }}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="it_IT" />
{% endblock %}

{% block content %}
<section class="quiz">
    <img id="frame" class="frame" src="" alt="frame" />
    <div class="mb-3 solcontainer">
        <label for="soluzione" class="form-label">Digita qui la soluzione</label>
        <input type="text" class="form-control soluzione" id="soluzione">
    </div>
</section>
{% endblock %}

{% block footer %}
<script>
    var sol = [];
    document.addEventListener('DOMContentLoaded', () => load_home());
    function load_home() {
        frame();
        $('#soluzione').on('input',function(e){
            if ($.inArray($('#soluzione').val().toLowerCase(), sol) >= 0) {
                alert("BRAVO!");
                $('#soluzione').val("");
                frame();
            }
        });
    }

    function loaded() {
        setTimeout(spinnerhide, 100);
    }

    function frame(){
        $('.spinnercontainer').show();
        var frame = document.querySelector('#frame');
        //console.log(frame)
        $.ajax({
            url: "/frame",
            data: 'json',
            success: function(result)
            {
                console.log(result);
                //var film = jQuery.parseJSON(result);
                //console.log(film);
                $('#frame').attr("src", result.frame);
                sol = result.t;
                if (frame.complete) {
                    loaded();
                } else {
                    frame.addEventListener('load', loaded)
                    frame.addEventListener('error', function() {
                        alert('error')
                    })
                }
            }
        });


    }
</script>
{% endblock %}