{% extends "layout.html" %}

{% block head %}
<title>Indovina il Frame</title>
<meta property="og:title" content="Indovina il Frame" />
<meta name="description" content="Gioco indovina il frame" />
<meta property="og:description" content="Gioco indovina il frame" />
<meta property="og:image" content="/static/images/anteprima.webp" />
<meta property="og:url" content="{{ request.url }}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="it_IT" />
{% endblock %}

{% block content %}
<section class="quiz">
    <img id="frame" class="frame" src="/static/cinema.jpg" alt="frame" />
    <div class="mb-3 solcontainer game">
        <label for="soluzione" class="form-label">Digita qui la soluzione (<span id="valore"></span> punti)</label>
        <input type="text" class="form-control soluzione" id="soluzione">
    </div>
    <div class="indizio game" id="indizio"></div>
    <div class="board game">
        <div>
            <div class="title">Punti <span id="dif"></span></div>
            <div class="score" id="punti">0</div>
        </div>
        <div>
            <div class="title">Indovinati</div>
            <div class="score" id="indovinati">0</div>
        </div>
        <div>
            <button type="button" class="btn btn-primary title" id="btn-passo">Passo</button>
            <div class="score" id="passo">0</div>
        </div>
        <div>
            <button type="button" class="btn btn-success title" id="btn-indizio">Indizio</button>
            <div class="score" id="indizi">0</div>
        </div>
    </div>
    <div class="diff">Per iniziare una nuova partita, scegli la difficoltà</div>
    <div class="nuovo">
        <button type="button" class="btn btn-success ngioco" data-d="1">Facile</button>
        <button type="button" class="btn btn-primary ngioco" data-d="2">Medio</button>
        <button type="button" class="btn btn-warning ngioco" data-d="3">Difficile</button>
        <button type="button" class="btn btn-danger ngioco" data-d="4">Estremo</button>
    </div>
</section>
{% endblock %}

{% block footer %}
<script>

    var sol = [];
    var indiziotesto = "";
    var d = "";
    var punti = 0;
    document.addEventListener('DOMContentLoaded', () => load_home());
    function load_home() {
        //console.log(similarity('Stack Overflow','Stack Ovrflw'));
        //frame();
        setSol();
        passo();
        indizio();
        init();
        $('.game').hide();
        setTimeout(spinnerhide, 100);
    }

    function init(){
        $(".ngioco").on("click", function() {
            d = $(this).data("d");
            //console.log($(this).text());
            $('#dif').text(" (" + $(this).text() + ")");
            $('#indizi').text(3);
            $('#indovinati').text(0);
            $('#passo').text(3);
            $('#punti').text(0);
            frame();
        })
    }

    function setSol(){
        $('#soluzione').on('input',function(e){
            var proposta = $('#soluzione').val().toLowerCase().replace(/[^a-z0-9]/gi, '').substring(0, 15);
            if (proposta == ""){return};
            $.each(sol, function(index, value) {
                if ((similarity(value, proposta) > 0.8) && (value != "")){
                    //console.log("INDOVINATO");
                    //console.log(value);
                    //console.log(proposta);
                    $('#punti').text(parseInt($('#punti').text()) + punti);
                    $('#indovinati').text(parseInt($('#indovinati').text()) + 1);
                    $('#soluzione').val("");
                    frame();
                    return false;
                }
            });
            //f ($.inArray($('#soluzione').val().toLowerCase().replace(/[^a-z0-9]/gi, '').substring(0, 15), sol) >= 0) {
            //    $('#punti').text(parseInt($('#punti').text()) + punti);
            //    $('#soluzione').val("");
            //    frame();
            //}
        });
    }

    function passo(){
        $("#btn-passo").on("click", function() {
            if (parseInt($('#passo').text())<1){
                return
            }
            $('#passo').text(parseInt($('#passo').text()) - 1);
            if (parseInt($('#passo').text())<1){
                $('#btn-passo'). attr("disabled", true);
            }
            frame();
        });
    }

    function indizio(){
        $("#btn-indizio").on("click", function() {
            if (parseInt($('#indizi').text())<1){
                return
            }
            $('#indizi').text(parseInt($('#indizi').text()) - 1);
            $('#btn-indizio'). attr("disabled", true);
            $('#indizio').text(indiziotesto)
        });
    }

    function loaded() {
        setTimeout(spinnerhide, 100);
    }

    function frame(){
        $('.spinnercontainer').show();
        var frame = document.querySelector('#frame');
        //console.log(frame)
        $.ajax({
            url: "/frame?d=" + d,
            data: 'json',
            success: function(result)
            {
                {% if debug %}console.log(result);{% endif %}
                //var film = jQuery.parseJSON(result);
                //console.log(film);
                $('#frame').attr("src", result.frame);
                $('#valore').text(result.p);
                //sol = result.t;
                sol = [];
                $.each(result.t, function( index, value ) {
                    {% if debug %}console.log(value);{% endif %}
                    sol.push(value.replace(/[^a-z0-9]/gi, '').substring(0, 15));
                });
                //console.log(sol);
                indiziotesto = result.i;
                $('#indizio').text("Premi indizio per riceve l'indizio.");
                $('#soluzione').val("");
                $('.game').show();
                punti = result.p;
                if (parseInt($('#indizi').text())>0){
                    $('#btn-indizio'). attr("disabled", false);
                }
                if (parseInt($('#passo').text())>0){
                    $('#btn-passo'). attr("disabled", false);
                }
                if (frame.complete) {
                    loaded();
                } else {
                    frame.addEventListener('load', loaded)
                    frame.addEventListener('error', function() {
                        alert('error')
                    })
                }
            }
        });


    }
</script>
{% endblock %}